body{
	border-bottom:24px solid grey;
	border-top: 24px solid grey;
	border-left: 24px solid grey;
	border-right: 24px solid grey;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1.4%;
	margin-bottom: 1.4%;
}

